body{
    background: #ffffff; 
}
h1{
    text-align: center;
    color:black;
}
p{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
 p strong{
    color: #00ff00; 
 }