*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}
body{
    /*alteração da cor do fundo do site*/
    background: #ffffff; 
}
h1{
    /*centarlisa o titalo e altera a cor pra preta*/
    text-align: center;
    color:black;
}
p{
    /*centralisa o texto, define a cor da letra, tamalho da letra e a fonte da letra*/
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
 p strong{
    /*alterar a cor do negrito*/
    color: #00ff00; 
 }
 #logo{
    /* altra o tamalho da logo */
    height: 200px;
    width: 300px;
 }
 .container{
   display: flex;
   justify-content: space-around;
   padding: 40px; 
   
 }
 .conteudo{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
 }
 #banner-principal{
    width:100%;
 }
 .banner{
    width: 250px;
    height: 250px;
    border-radius: 40%;
 }
 header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }
 .menu ul li{
   display: inline;
 }
   #video{
      background-color: rgba(135, 200, 120, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      border-bottom: 3px solid #f3a107;
   }
   #video > .container > image{
      height: 315px;
   }
   footer{
      text-align: center;
      padding: 20px;
   }
   footer > p > a{
      text-decoration: none;
      color: #000000;
   }
   .menu > ul > li >a{
      text-decoration: none;
      color: #000000;
      padding: 10px;
   }
   .menu > ul > li >a:hover{
      border-bottom: 2px solid green;
   }
   .menu > ul > li > a :active{
      color:green;
      border-bottom: 2px solid green;
      font-weight: 700;
   }
   @media(max-width: 600px){
      .menu{
         flex-direction: column;
         align-items: center;
      }
      header{
         flex-direction: column;
         align-items: center;
      }
      .container{
         flex-direction: column;
      }
      .conteudo{
         flex-direction: column;
      }
      #video{
         flex-direction: column;
         align-items: center;
      }

   }